# Thư mục hệ thống
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Mm]emoryCaptures/
[Oo]ut/
[Uu]serSettings/

# Các file cấu hình của IDE
*.sln
*.csproj
*.user
*.suo
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.tmp
*.bak
.vs/

# Các file của Unity
*.mat
*.asset
*.fbx
*.jpeg
*.tga
#*.exe
*.so
*.dylib

# Các file tạm thời khác
*.swp
*.swo
*.tmp
*.temp
*.log
*.vsconfig

# Ignore các file của Visual Studio
.vs/
.vscode

